<html>
<head>
	<title>Uptiny: Paste to Upload an Image</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<style type="text/css">
		#logo {
			font-family: 'Loved by the King', cursive;
			font-size: 60pt;
			font-weight: bold;
			margin-bottom: 0px;
		}
		#content {
			width: 500px;
			margin: 0 auto;
		}
		.info {
			text-align: center;
			font-family: "helvetica neue", sans-serif;
			font-size: 12pt;
		}
		#status {
			color: #26ADE4;
		}
	</style>
</head>
<body>
	<div id="content">
	    <h1 id="logo">Paste Images Here!</h1>
		<div class="info">Upload an image by pasting it anywhere on this page (only works in Chrome).</div>
	    <div id="status" class="info"></div>
	</div>

    <script type="text/javascript">

		document.onpaste = function(event) {
			var items = event.clipboardData.items;
		
			console.log(JSON.stringify(items)); // will give you the mime types
		
			var blob = items[0].getAsFile();
			if(blob)
				$("#status").html("Uploading...");
			
			var reader = new FileReader();
			reader.onload = function(event){
				console.log(event.target.result);
				
				$.ajax({
 					type: "POST",
					url: "/",
					enctype: "multipart/form-data",
					data: { file: event.target.result },
					success: function(filename) {
						$("#status").html("http://media.uptiny.com/" + filename);
					}
				});
			};
			reader.readAsDataURL(blob);
			console.info(reader);
		}
    </script>
</body>
</html>
