<html>
<head>
	<title>Uptiny: Paste to Upload an Image</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<style type="text/css">
		#logo {
			font-family: 'Loved by the King', cursive;
			font-size: 60pt;
			font-weight: bold;
		}
	</style>
</head>
<body>
    <h1 id="logo">Paste Here!</h1>
    <div id="status"></div>

    <script type="text/javascript">

		document.onpaste = function(event) {
			var items = event.clipboardData.items;
		
			console.log(JSON.stringify(items)); // will give you the mime types
		
			var blob = items[0].getAsFile();
			if(blob)
				$("#status").html("Loading...");
			
			var reader = new FileReader();
			reader.onload = function(event){
				console.log(event.target.result);
				
				$.ajax({
 					type: "POST",
					url: "/",
					enctype: "multipart/form-data",
					data: { file: event.target.result },
					success: function(filename) {
						$("#status").html("http://media.uptiny.com/" + filename);
					}
				});
			};
			reader.readAsDataURL(blob);
			console.info(reader);
		}
    </script>
</body>
</html>
